<div class="container">
  <div class="row justify-content-center mt-4">
    <h1 class="text-center mt-4 mr-4"><%= @user.name.titleize %>'s Profile</h1>
    <% if @user.profile_pic.attached? %>
      <%= image_tag(url_for(@user.profile_pic), size: '100') %>
    <% end %>
  </div>
</div>

<div class="container">
  <% unless friends_already?(@user) || @user.id == current_user.id %>
    <p>We need to be friends for you to see my profile.</p>
    <%= button_to 'Friend Me',  friend_requests_path, params: { friend_id: @user.id } %>
  <% end %>

  <% if friends_already?(@user) || @user.id == current_user.id %>
    <div class="row justify-content-center">
      <div class="col-8">
        <h2>Posts</h2>
        <% if current_user == @user %>
          <%= form_with model: @post, url: user_posts_path(@user), local: true, class: "form-inline" do |f| %>
            <%= f.text_area :body, class: "form-control col-6", placeholder: "write your post..." %>
            <label class="btn btn-outline-success col-3">
              Add Photo
              <span style="display:none">
                <%= f.file_field :photo, class: "btn form-control-file" %>
              </span>
            </label>
            
            <%= f.submit class: "btn btn-outline-success form-control col-3" %>
          <% end %>
        <% end %>
      </div>
    </div>

    <% if @posts %>
      <% @posts.each do |post| %>
        <%= render partial: 'posts/post', locals: { post: post } %>
      <% end %>
    <% end %>
  <% end %>
</div>


