<h1>Timeline</h1>

<% @posts.each do |post| %>
  <div class="card text-center">
    <div class="card-header">
      <%= post.user.name %>
    </div>
    <div class="card-body">
      <p class="card-text"><%= post.body %></p>
      <% if post.photo.attached? %>
        <div><%= image_tag(post.photo, size: '100') %></div>
      <% end %>
    </div>
    <div class="card-footer text-muted">
      <p>likes: <%= post.likes.count %></p>
      <p><%= time_ago_in_words(post.created_at) %> ago</p>
      <%= button_to 'like', likes_path, params: { user_id: current_user.id, post_id: post.id } %>
    </div>
  </div>
<% end %>

<ul>
  <% @posts.each do |post| %>
    <li><%= post.body %></li>
    <% if post.photo.attached? %>
      <div><%= image_tag(post.photo, size: '100') %></div>
    <% end %>
    <p>- <%= time_ago_in_words(post.created_at) %> ago</p>
    <p>- <%= post.user.name %></p>
    <p>Likes: <%= post.likes.count %></p>
    <%= button_to 'like', likes_path, params: { user_id: current_user.id, post_id: post.id } %>

    <h4>Comments</h4>
        <ul>
          <% post.comments.each do |comment| %>
            <li><%= comment.body %></li>
            <p>- <%= comment.user.name %></p>
          <% end %>
        </ul>

      <%= form_with model: @comment, url: comments_path, local: true do |f| %>
        <%= f.hidden_field :post_id, value: post.id %>
        <%= f.text_area :body %>
        <%= f.submit %>
      <% end %>
  <% end %>
</ul>